<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/shapes.svg" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Location</ion-card-subtitle>
            <ion-card-title>Watching Position</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="location?.coords">
            <p>Latitude : {{location.coords.latitude }}</p>
            <p>Longitude : {{location.coords.longitude}}</p>
            <p>Accuracy : {{location.coords.accuracy }}</p>
            <p>Altitude : {{location.coords.altitude }}</p>
            <p>Altitude Accuracy{{location.coords.altitudeAccuracy }}</p>
            <p>Heading : {{location.coords.heading }}</p>
            <p>Speed : {{location.coords.speed }}</p>
            <p>Time Stamp : {{ lastUpdatedon | date:'mediumTime' }}</p>
        </ion-card-content>
    </ion-card>

</ion-content>
